<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center"><b>Last hour activity report:</b>
    <a th:href="@{'/shop/activity/download'}" class="btn btn-primary"><b>Download</b></a>
</div>
<br>
<div align="center"><b>User activity report:</b>
    <a th:href="@{'/shop/activity/user/download'}" class="btn btn-primary"><b>Download</b></a>
</div>
<div class="container">
    <h2>Items List:</h2>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:if="${item.quantity > 0}"><a th:href="@{'/shop/item/sell/'+${item.id}}"
                                                class="btn btn-primary">Sell</a></td>
            <td th:if="${item.quantity == 0}"><a th:href="@{'/shop/item/sell/'+${item.id}}"
                                                 class="btn btn-primary disabled" aria-disabled="true">Sell</a></td>
        </tr>
    </table>
</div>
</body>
</html>